app_mode = production                     # 应用名称
instance_name = {{ grafana_instance }}    # 设置grafana-server实例的名称

[paths]
data = {{ grafana_data_dir }}             # Grafana存储sqlite3数据库文件,sessions文件(如果已使用)以及其他数据
logs = {{ grafana_logs_dir }}             # 存储日志
plugins = {{ grafana_data_dir }}/plugins  # Grafana自动搜索和查找插件的目录
; datasources = conf/datasources

[server]
http_addr = 0.0.0.0
http_port = 3000
domain = localhost.localdomain
root_url = http://0.0.0.0:3000
cert_key =
enforce_domain = False
protocol = http
socket =
enable_gzip = False
cert_file =
serve_from_sub_path = False
static_root_path = public
router_logging = False

[database]
type = sqlite3

[security]
admin_user = admin
admin_password = admin

[users]
default_theme = dark
allow_sign_up = true
allow_org_create = true
auto_assign_org = true
auto_assign_org_role = Viewer

[emails]
welcome_email_on_sign_up = False

[dashboards]
versions_to_keep = 20

[dashboards.json]
enabled = true
path = {{ grafana_data_dir }}/dashboards

[log]
mode = console, file
level = info

[grafana_com]
;url = https://grafana.com
