[Unit]
Description=Prometheus Node Exporter
After=network-online.target
StartLimitInterval=0

[Service]
Type=simple
User=node-exp
Group=node-exp
ExecStart={{ _node_exporter_binary_install_dir }}/node_exporter \
    --web.listen-address={{ node_exporter_web_listen_address }}
SyslogIdentifier=node_exporter
Restart=always
RestartSec=1

PrivateTmp=yes
{% for m in ansible_mounts if m.mount == '/home' %}
ProtectHome=read-only
{% else %}
ProtectHome=yes
{% endfor %}
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
